<a href="https://colab.research.google.com/github/rodimendes/rest-analysis/blob/main/vendas2018_2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Importação de bibliotecas e pastas

In [47]:
import pandas as pd
import os
import pathlib
import sqlite3
import datetime as dt

In [48]:
from google.colab import drive
drive.mount('/ShardDrives/')

Drive already mounted at /ShardDrives/; to attempt to forcibly remount, call drive.mount("/ShardDrives/", force_remount=True).

In [49]:
pd.set_option('float_format', '{:,.2f}'.format)

## Renomeando arquivos 
**Desnecessário para estes arquivos** 

Executado e nomes alterados

In [ ]:
"""folder = "/ShardDrives/MyDrive/rest_data_extraction /volume_vendas_produto/"
for file in os.listdir(folder):
    old_name = folder + file
    data = pd.read_excel(old_name)
    if file[:7] != 'vendas_':
      report_date = data['Unnamed: 1'][1][-10:]
      new_name = f"{folder}vendas_{report_date}.xlsx"
      os.rename(old_name, new_name)"""

'folder = "/ShardDrives/MyDrive/rest_data_extraction /volume_vendas_produto/"\nfor file in os.listdir(folder):\n    old_name = folder + file\n    data = pd.read_excel(old_name)\n    if file[:7] != \'vendas_\':\n      report_date = data[\'Unnamed: 1\'][1][-10:]\n      new_name = f"{folder}vendas_{report_date}.xlsx"\n      os.rename(old_name, new_name)'

## Data opening

In [50]:
file = "/ShardDrives/MyDrive/rest_data_extraction /base_de_dados/volume_vendas_2018_2022.xlsx"
data = pd.read_excel(file)

## Visão geral do dataframe

In [51]:
data.head(10)

,Evolução de Vendas por Produto,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Séries: Todas,Data de Início: 01-01-2018,Data de Fim: 25-08-2022,NaN,NaN,NaN,NaN
5,Familia: Todas,Sub-Familia: Todas,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,Data,Código,Produto,Familia / Sub-Familia,Quantidade,Valor Total S/IVA,Valor Total
8,2018-01-03 00:00:00,100002,Avenida,Bebidas / Cerveja,4,13.90,17.10
9,2018-01-03 00:00:00,100003,Batata Doce,Comida / Evento,9,41.42,46.80

## Limpeza inicial

In [52]:
# Limpar linhas vazias e reiniciar o index

df = data.rename(columns=data.iloc[7]).iloc[8:-1].reset_index(drop=True)
df

,Data,Código,Produto,Familia / Sub-Familia,Quantidade,Valor Total S/IVA,Valor Total
0,2018-01-03 00:00:00,100002,Avenida,Bebidas / Cerveja,4,13.90,17.10
1,2018-01-03 00:00:00,100003,Batata Doce,Comida / Evento,9,41.42,46.80
2,2018-01-03 00:00:00,100005,Berbigão,Comida / Pratos,9,42.83,48.40
3,2018-01-03 00:00:00,100012,Cp Dashi,Bebidas / Soft Drinks,1,3.10,3.50
4,2018-01-03 00:00:00,100022,Cp Phaunus Pet Nat,Bebidas / Espumantes,2,13.01,16
...,...,...,...,...,...,...,...
68219,2022-08-24 00:00:00,101431,Alheta Pescada,Comida / Especiais,4,60.18,68
68220,2022-08-24 00:00:00,101432,Leite Frito,Comida / Sobremesas,6,47.79,54
68221,2022-08-24 00:00:00,101450,Extra Tosta,Comida / Snacks,1,3.54,4
68222,2022-08-24 00:00:00,101454,Cereja,Comida / Sobremesas,1,6.64,7.50
68223,2022-08-24 00:00:00,101456,Extra Lirio,Comida / Snacks,1,3.98,4.50

In [53]:
# Separando coluna Famila / Sub-Familia em duas

new_column = df['Familia / Sub-Familia'].str.split('/', n=1, expand=True)
df['familia'] = new_column[0]
df['sub_familia'] = new_column[1]

In [54]:
# Renomeando colunas

df = df[['Data', 'Código', 'Produto', 'familia', 'sub_familia', 'Quantidade', 'Valor Total S/IVA', 'Valor Total']]
df.columns = ['data', 'codigo', 'produto', 'familia', 'sub_familia', 'quantidade', 'total_s_iva', 'total']

### Tratamento de colunas

In [55]:
# Definindo o tipo adequado para as colunas

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68224 entries, 0 to 68223
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   data         68224 non-null  object
 1   codigo       68224 non-null  object
 2   produto      68224 non-null  object
 3   familia      68224 non-null  object
 4   sub_familia  68224 non-null  object
 5   quantidade   68224 non-null  object
 6   total_s_iva  68224 non-null  object
 7   total        68224 non-null  object
dtypes: object(8)
memory usage: 4.2+ MB

In [56]:
df.data = pd.to_datetime(df.data)
df['codigo'] = pd.to_numeric(df['codigo'])
df['quantidade'] = pd.to_numeric(df['quantidade'])
df['total_s_iva'] = pd.to_numeric(df['total_s_iva'])
df['total'] = pd.to_numeric(df['total'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68224 entries, 0 to 68223
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   data         68224 non-null  datetime64[ns]
 1   codigo       68224 non-null  int64
 2   produto      68224 non-null  object
 3   familia      68224 non-null  object
 4   sub_familia  68224 non-null  object
 5   quantidade   68224 non-null  float64
 6   total_s_iva  68224 non-null  float64
 7   total        68224 non-null  float64
dtypes: datetime64[ns](1), float64(3), int64(1), object(3)
memory usage: 4.2+ MB

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [57]:
df.columns

Index(['data', 'codigo', 'produto', 'familia', 'sub_familia', 'quantidade',
       'total_s_iva', 'total'],
      dtype='object')

## Criação do Banco de Dados
**Etapa desnecessária para este caso de já termos o dataset completo e não ser necessário atualizar com novos dados**

In [ ]:
#bd = sqlite3.connect("vendas_restaurantes.db")

In [ ]:
#cursor = bd.cursor()

### A célula abaixo só é necessário executar na primeira vez, para a criação da tabela no banco de dados

In [ ]:
#cursor.execute("CREATE TABLE 'Vendas Restauração 2018_2022' (data INTEGER, codigo INT, produto TEXT, familia TEXT, sub_familia TEXT, quantidade INT, total_s_iva REAL, total REAL)")

In [ ]:
#df.head(2)

In [ ]:
#for index, row in df.iterrows():
#    data = row[0]
#    codigo = row[1]
#    produto = row[2]
#    familia = row[3]
#    sub_familia = row[4]
#    quantidade = row[5]
#    total_s_iva = row[6]
#    total = row[7]
#    cursor.execute('''INSERT INTO 'Vendas Restauração 2018_2022' \
#                    (data, codigo, produto, familia, sub_familia, quantidade, total_s_iva, total) VALUES (?,?,?,?,?,?,?,?)''', \
#                    (str(data), codigo, produto, familia, sub_familia, quantidade, total_s_iva, total))
#    
#    bd.commit()

##**Primeiras explorações**

In [58]:
# Faturamento total do período

faturamento_total = df.total.sum()
f'A empresa faturou {faturamento_total:,.2f} de euros durante o período'

'A empresa faturou 4,603,194.17 de euros durante o período'

In [59]:
# Faturamento por família

faturamento_familia = df[['familia', 'total']].groupby(by='familia').sum()
faturamento_familia.sort_values(by='total', ascending=False)

                             total
familia
Comida                3,058,871.40
Bebidas               1,464,298.98
Outros                   79,387.59
Talho                       370.00
Sem Familia Definida        226.00
Peixaria                     20.70
Mercearia                    19.50

###Rentabilidade diária

In [60]:
dt.date.isoweekday(df.data[0])

3

In [61]:
# Criando uma lista com todos os dias de venda e atribuindo a uma nova coluna

dia_semana = []
for dia in df.data:
  dia_semana.append(dt.date.isoweekday(dia))

df['dia_semana'] = dia_semana
df.head(2)

,data,codigo,produto,familia,sub_familia,quantidade,total_s_iva,total,dia_semana
0,2018-01-03,100002,Avenida,Bebidas,Cerveja,4.00,13.90,17.10,3
1,2018-01-03,100003,Batata Doce,Comida,Evento,9.00,41.42,46.80,3

In [62]:
rentabilidade_diaria = df[['quantidade','total', 'dia_semana']].groupby(by='dia_semana').sum()
rentabilidade_diaria

            quantidade        total
dia_semana
1             2,342.00    31,823.80
2             4,147.00    47,654.04
3            92,440.01   744,466.71
4           104,169.00   888,494.16
5           130,162.00 1,082,017.64
6           132,789.00 1,089,471.37
7            90,730.00   719,266.45

In [63]:
# Rentabilidade diária, em ordem decrescente, para o período.

rentabilidade_diaria.sort_values(by='total', ascending=False)

            quantidade        total
dia_semana
6           132,789.00 1,089,471.37
5           130,162.00 1,082,017.64
4           104,169.00   888,494.16
3            92,440.01   744,466.71
7            90,730.00   719,266.45
2             4,147.00    47,654.04
1             2,342.00    31,823.80

In [64]:
# Dia da semana possui mais entradas, ou seja, mais linhas.

df.dia_semana.value_counts()

5    14997
6    14638
4    13709
3    12233
7    11525
2      696
1      426
Name: dia_semana, dtype: int64

In [65]:
## Por que as segundas e possuem valores muito baixos?
## Quais os dias e horários de funcionamento do restaurante?

In [66]:
df[df['dia_semana'] == 1]

,data,codigo,produto,familia,sub_familia,quantidade,total_s_iva,total,dia_semana
1375,2018-02-05,100131,Menu Grupo,Outros,,29.00,513.27,580.00,1
3218,2018-04-02,100317,Aluguer Espaço,Outros,,1.00,"1,500.00","1,845.00",1
3219,2018-04-02,100318,Jantar grupo privado,Outros,,40.00,"1,951.22","2,400.00",1
3220,2018-04-02,100319,Extra,Outros,,1.00,24.39,30.00,1
11200,2018-09-24,2,Porco Panado,Comida,Snacks,59.00,215.04,264.50,1
...,...,...,...,...,...,...,...,...,...
56992,2021-12-27,101406,G Wave,Bebidas,G Branco PT,1.00,32.52,40.00,1
56993,2021-12-27,101412,G Humus Curtimenta,Bebidas,G Branco PT,1.00,22.76,28.00,1
56994,2021-12-27,101413,Cp Sol Passito,Bebidas,Copo Outros,1.00,11.38,14.00,1
56995,2021-12-27,101418,G Capucha Cedro Alvarao,Bebidas,G Branco PT,1.00,40.65,50.00,1
56996,2021-12-27,101428,Vazia,Comida,Especiais,2.00,106.20,120.00,1

##**Regressão Linear - Faturamento futuro**##

In [67]:
# Bibliotecas para construção do modelo

import statsmodels.api as sm
from sklearn.linear_model import LinearRegression
import matplotlib.pyplot as plt

In [68]:
object_df = df.select_dtypes(include=['object']).copy()

In [69]:
object_df

                  produto   familia   sub_familia
0                 Avenida  Bebidas        Cerveja
1             Batata Doce   Comida         Evento
2                Berbigão   Comida         Pratos
3                Cp Dashi  Bebidas    Soft Drinks
4      Cp Phaunus Pet Nat  Bebidas     Espumantes
...                   ...       ...           ...
68219      Alheta Pescada   Comida      Especiais
68220         Leite Frito   Comida     Sobremesas
68221         Extra Tosta   Comida         Snacks
68222              Cereja   Comida     Sobremesas
68223         Extra Lirio   Comida         Snacks

[68224 rows x 3 columns]

In [70]:
anos = []
for dia in df['data']:
  year = dia.year
  anos.append(year)

print(len(anos))

68224

In [71]:
df['ano'] = anos

In [72]:
# Agrupar por anos e analisar ano a ano (??)

In [73]:
# Célula teste

df.sample()

,data,codigo,produto,familia,sub_familia,quantidade,total_s_iva,total,dia_semana,ano
7734,2018-07-19,100390,Manteiga cabra,Comida,Snacks,1.00,1.15,1.30,4,2018

In [74]:
!git status

fatal: not a git repository (or any of the parent directories): .git